body {
    padding: 5%;
}

#intro, #consent {
    font-size: smaller;
}

#deadline {
    font-weight: bold;
    font-size: large;
}

.survey-form {
    width: 800px;
    max-width: 100%;
    margin: auto;
}

.row {
    align-items: center;
    padding-top: 10px;
}

.survey-assert {
    font-size: small;
}

.hidden {
    display: none;
}

.row-center {
    justify-content: center;
}