body {
    padding: 5%;
    max-width: 1200px;
    margin: auto;
    overflow-x: hidden;
}

h5, h4 {
    line-height: 1.5;
}

.header-img {
    height: 3em;
}

.flexdiv-left {
    flex: 1;
    text-align: left;
}

.flexdiv-right {
    flex: 1;
    text-align: right;
}

#intro, #consent {
    font-size: smaller;
}

#deadline {
    font-weight: bold;
    font-size: large;
}

.consent-no {
    left: -20%;
}

.survey-form {
    width: 800px;
    max-width: 100%;
    margin: auto;
    word-wrap: break-word;
}

.row {
    align-items: center;
    padding-top: 10px;
}

.survey-assert {
    font-size: smaller;
}

.hidden {
    display: none;
}

.row-btn {
    justify-content: space-around;
    margin-top: 40px;
}

.row-btn-nomargin {
    justify-content: space-around;
}

.breakword {
    min-width: 15%;
}

#survey-consent {
    margin: 0 25%;
}

.btn-long {
    white-space: normal;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
}

#reflection_free {
    margin-top: 10px;
    max-width: 600px;
}

.checkform {
    margin-left: 5px;
}

.qsep {
    margin-top: 40px;
}

@media only screen and (max-width: 500px) {
    .survey-form {
        word-wrap: initial;
    }

    .survey-form .col {
        padding-left: 9px;
        padding-right: 9px;
    }

    .row > .breakword:first-child {
        transform: rotate(-90deg);
        left: -25px;
        top: 20px;
    }

    .row > .breakword:last-child {
        transform: rotate(90deg);
        left: 25px;
        top: -20px;
    }

    .consent-no {
        left: initial;
    }

    #survey-consent {
        margin: initial;
    }

    .work {
        margin-left: 5%;
    }
}

